svg {
    height: 100%;
}
.dfd {
    font-family: 'Roboto', sans-serif;
}
.dfd-box {
    height: 120vh;
    width: 100%;
    position: relative;
}
.dfd-elements {
    position: absolute;
    width: 100px;
    background-color: #eee;
    left: 0px;
    top: 0px;
    bottom: 0px;
}
.dfd-element {
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* width: 40px; */
    /* height: 40px; */
    margin: 5px;
    background-color: #fff;
    shape-rendering: 'crispEdges';
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}
.dfd-element svg {
    display: inline-block;
}
.dfd-element-name {
    font-size: 11px;
    color: #333;
}

.dfd-canvas {
    position: absolute;
    left: 100px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #fff;
    background-image: url(../images/bg.jpg);
    background-size: 100%;
    background-position: center;
}
.dfd-shape-bk {
    fill: #fff;
    pointer-events: none;
}
.dfd-shape {
    stroke: #333;
    fill: #fff;
}
.dfd-shape:hover {
    opacity: 0.8;
}
.dfd-canvas .dfd-shape {
    cursor: move;
}
.dfd-preview-line {
    stroke: #000;
    fill: none;
    stroke-width: 1;
    pointer-events: none;
}
.dfd-resize-points {
    fill-opacity: 0;
    stroke-opacity: 0;
    pointer-events: none;
    fill: rgb(77, 146, 211);
    stroke: rgb(77, 146, 211);
}
.dfd-resize-left {
    cursor: w-resize;
}
.dfd-resize-top {
    cursor: n-resize;
}
.dfd-resize-bottom {
    cursor: n-resize;
}
.dfd-resize-right {
    cursor: w-resize;
}
.dfd-resize-top-left {
    cursor: nw-resize;
}
.dfd-resize-top-right {
    cursor: ne-resize;
}
.dfd-resize-bottom-left {
    cursor: sw-resize;
}
.dfd-resize-bottom-right {
    cursor: se-resize;
}
.dfd-link-points {
    fill-opacity: 0;
    stroke-opacity: 0;
    pointer-events: none;
    fill: rgb(126, 211, 77);
    stroke: rgb(126, 211, 77);
    cursor: default;
}
.dfd-hover-info-visible .dfd-link-points:hover {
    stroke-opacity: 1;
    stroke: #333;
}
.dfd-hover-info-visible .dfd-link-points {
    fill-opacity: 0.5;
    stroke-opacity: 0.3;
    pointer-events: all;
}
.dfd-shape-selected .dfd-resize-points {
    fill-opacity: 0.5;
    stroke-opacity: 0.3;
    pointer-events: all;
}
.dfd-shape-selected .dfd-resize-points:hover {
    fill-opacity: 1;
    stroke-opacity: 1;
}
.mid-marker {
    stroke: #000;
    stroke-width: 0;
    fill: #000;
}
.dfd-rectangle-dotted {
    stroke: #a00;
    fill: rgba(255, 255, 255, 0.1);
    /* fill: none; */
    stroke-dasharray: 5 5;
}
.dfd-rectangle-dotted:hover {
    opacity: 0.8;
}
.dfd-select-info {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    width: 300px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: none;
}
.dfd-select-info-visible {
    display: flex;
    flex-direction: column;
}
.dfd-shape-form-outer {
    flex-grow: 1;
    position: relative;
}
.dfd-shape-form {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}
.dfd-form-row {
    padding: 5px;
    border-bottom: solid 1px #eee;
}
.dfd-form-row-name {
    font-size: 15px;
}
.dfd-info-name,
.dfd-info-type,
.dfd-shape-scope {
    padding: 10px;
    margin: 10px;
    border-bottom: solid 1px #eee;
    color: #333;
}
.dfd-info-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dfd-shape-message-editor {
    flex-grow: 1;
    margin: 5px;
    padding: 5px;
    border: none;
    border-bottom: solid 1px #666;
    box-sizing: border-box;
    font-size: 15px;
}
.dfd-info-name label {
}
.dfd-form-row-sel {
    height: 34px;
    padding: 5px 15px;
}
.dfd-info-icons {
    padding: 10px;
}
.dfd-info-icon {
    width: calc(25% - 5px);
    box-sizing: border-box;
    margin: 5px 2px;
    text-align: center;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    /* font-size: 15px; */
    /* font-weight: bold; */
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
    padding: 5px 3px;
    outline: none;
    font-size: 11px;
}
.dfd-info-icon:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}
.dfd-info-icon:active {
    position: relative;
    top: 1px;
}
.dfd-remove-icon {
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #e4685d;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    margin: 5px auto;
    display: block;
    outline: none;
}
.dfd-remove-icon:hover {
    background-color: #eb675e;
}
.dfd-remove-icon:active {
    position: relative;
    top: 1px;
}
.dfd-shape-message {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500;
}
.dfd-shape-name {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    fill: #333;
}

.dfd-link-message {
    cursor: pointer;
    user-select: none;
}
.dfd-info-shape-containers {
    flex-grow: 1;

    position: relative;
}
.dfd-info-shape-containers-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
}
