svg {
    height: 100%;
}
.dfd {
    font-family: 'Roboto', sans-serif;
}
.dfd-box {
    height: 90vh;
    width: 100%;
    position: relative;
}
.dfd-elements {
    position: absolute;
    width: 156px;
    background-color: #eee;
    left: 0px;
    top: 0px;
    bottom: 0px;
}
.dfd-element-group {
    margin: 5px;
    /* border: solid 1px #f8f8f8; */
    padding: 5px;
    background-color: #e6e6e6;
    border-radius: 3px;
    position: relative;
}
.dfd-element-group-name {
    padding: 5px;
    font-size: 13px;
    color: #888;
}
.dfd-element-group-button {
    cursor: pointer;
    border: none;
    margin: 0px 5px;
    padding: 0px;
    width: 20px;
    height: 20px;
    background: #eee;
    font-weight: bold;
    outline: none;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    border-radius: 4px;
    float: right;
}
.dfd-element-group-button:hover {
    background-color: #fff;
}
.dfd-element-group-list {
    max-height: 500px;
    overflow: auto;
    transition: all 0.3s;
}
.dfd-element-group-list-hidden {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s;
}
.dfd-elements-list {
    scrollbar-width: thin;
}
.dfd-element {
    display: inline-block;
    vertical-align: middle;
    /* width: 40px; */
    /* height: 40px; */
    margin: 2px;
    background-color: #fff;
    shape-rendering: 'crispEdges';
    text-align: center;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
}
.dfd-element:hover {
    box-shadow: 0px 0px 5px #999;
    /* border-radius: 3px; */
    /* z-index: 1; */
}
.dfd-element-hide {
    display: none;
}
.dfd-elements-search-container {
    position: relative;
}
.dfd-elements-search-input {
    display: block;
    margin: 5px;
    width: calc(100% - 10px);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 4px;
    border: solid 1px #aaa;
    height: 30px;
}
.dfd-elements-search-clear {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    top: 50%;
    right: 10px;
    margin-top: -10px;
    background: none;
    cursor: pointer;
    border: none;
    text-align: center;
    padding: 0px;
}
.dfd-elements-search-clear:hover {
    background-color: #eee;
}

.dfd-element svg {
    display: block;
}
.dfd-element-name {
    color: #333;
    text-align: center;
}
.dfd-element-hover {
    position: absolute;
    left: 100%;
    top: 0px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 5px #999;
    border-radius: 3px;
    margin-left: 5px;
    padding: 5px;
    transition: opacity 0.3s;
    min-width: 110px;
}
.dfd-element-hover-visible {
    opacity: 1;
    visibility: visible;
}
.dfd-canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    background-image: url(../images/bg.jpg);
    background-size: 100%;
    background-position: center;
}
.dfd-shape-bk {
    fill: #fff;
    pointer-events: none;
}
.dfd-shape {
    stroke: #333;
    fill: #fff;
}
.dfd-shape:hover {
    opacity: 0.8;
}
.dfd-canvas .dfd-shape {
    cursor: move;
}
.dfd-preview-line {
    stroke: #000;
    fill: transparent;
    stroke-width: 1;
    pointer-events: none;
}
.dfd-resize-points {
    fill-opacity: 0;
    stroke-opacity: 0;
    pointer-events: none;
    fill: rgb(77, 146, 211);
    stroke: rgb(77, 146, 211);
}
.dfd-resize-left {
    cursor: w-resize;
}
.dfd-resize-top {
    cursor: n-resize;
}
.dfd-resize-bottom {
    cursor: n-resize;
}
.dfd-resize-right {
    cursor: w-resize;
}
.dfd-resize-top-left {
    cursor: nw-resize;
}
.dfd-resize-top-right {
    cursor: ne-resize;
}
.dfd-resize-bottom-left {
    cursor: sw-resize;
}
.dfd-resize-bottom-right {
    cursor: se-resize;
}
.dfd-link-points {
    fill-opacity: 0;
    stroke-opacity: 0;
    pointer-events: none;
    fill: rgb(126, 211, 77);
    stroke: rgb(126, 211, 77);
    cursor: default;
}
.dfd-hover-info-visible .dfd-link-points:hover {
    stroke-opacity: 1;
    stroke: #333;
}
.dfd-hover-info-visible .dfd-link-points {
    fill-opacity: 0.5;
    stroke-opacity: 0.3;
    pointer-events: all;
}
.dfd-shape-selected .dfd-resize-points {
    fill-opacity: 0.5;
    stroke-opacity: 0.3;
    pointer-events: all;
}
.dfd-shape-selected .dfd-resize-points:hover {
    fill-opacity: 1;
    stroke-opacity: 1;
}
.mid-marker {
    stroke: #000;
    stroke-width: 0;
    fill: #000;
}
.dfd-rectangle-dotted {
    stroke: #a00;
    fill: rgba(255, 255, 255, 0.1);
    /* fill:transparent; */
    stroke-dasharray: 5 5;
}
.dfd-rectangle-dotted:hover {
    opacity: 0.8;
}
.dfd-select-info {
    position: absolute;
    top: 5px;
    padding: 1px 6px;
    right: 5px;
    bottom: 5px;
    width: 300px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: none;
}
.dfd-select-info-visible {
    display: flex;
    flex-direction: column;
}
.dfd-shape-form-outer {
    flex-grow: 1;
    position: relative;
}
.dfd-shape-form {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}
.dfd-form-row {
    padding: 5px;
    border-bottom: solid 1px #eee;
}
.dfd-form-row-name {
    font-size: 15px;
}
.dfd-info-name,
.dfd-info-type,
.dfd-shape-scope {
    padding: 6px;
    margin: 5px;
    border-bottom: solid 1px #eee;
    color: #333;
}
.dfd-shape-scope {
    display: flex;
}
.dfd-shape-scope input {
    height: 20px;
    display: inline-block;
    width: auto;
    margin-left: 20px !important;
    margin-top: 1px !important;
}
.dfd-info-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dfd-shape-message-editor,
.dfd-shape-index-editor {
    padding: 5px 10px;
    flex-grow: 1;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #eee;
    width: 100%;
    height: 32px;
}
.dfd-info-name label {
}
.dfd-form-row-sel {
    height: 34px;
    padding: 5px 15px;
}
.dfd-info-icons {
    padding: 10px;
}
.dfd-info-icon {
    width: calc(25% - 5px);
    box-sizing: border-box;
    margin: 5px 2px;
    text-align: center;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
    padding: 5px 2px;
    outline: none;
    font-size: 11px;
    font-weight: 400;
}
.dfd-info-icon:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}
.dfd-info-icon:active {
    position: relative;
    top: 1px;
}
.dfd-remove-icon {
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #e4685d;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    margin: 5px auto;
    display: block;
    outline: none;
}
.dfd-remove-icon:hover {
    background-color: #eb675e;
}
.dfd-remove-icon:active {
    position: relative;
    top: 1px;
}
.dfd-shape-message {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500;
}
.dfd-shape-name {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    fill: #333;
}

.dfd-link-message {
    cursor: pointer;
    user-select: none;
}
.dfd-info-shape-containers {
    flex-grow: 1;

    position: relative;
}
.dfd-info-shape-containers-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.pie-legends {
    display: flex;
    border-radius: 4px;
    text-align: center;
}
.pie-legends span {
    padding: 5px 3px;
    color: #000;
    font-size: 12px;
}
.pie {
    text-align: center;
}
