.pie-chart-holder {
    display: inline-block;
    position: relative;
}
.pie-chart-holder::after {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    content: '';
    pointer-events: none;
    border-radius: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.3+0,0+22,0.5+76,0.4+90,0.3+100 */
    background: -moz-radial-gradient(
        center,
        ellipse cover,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 22%,
        rgba(255, 255, 255, 0.5) 76%,
        rgba(255, 255, 255, 0.4) 90%,
        rgba(255, 255, 255, 0.3) 100%
    ); /* FF3.6-15 */
    background: -webkit-radial-gradient(
        center,
        ellipse cover,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 22%,
        rgba(255, 255, 255, 0.5) 76%,
        rgba(255, 255, 255, 0.4) 90%,
        rgba(255, 255, 255, 0.3) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(
        ellipse at center,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 22%,
        rgba(255, 255, 255, 0.5) 76%,
        rgba(255, 255, 255, 0.4) 90%,
        rgba(255, 255, 255, 0.3) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#4dffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.5+0,0+100;White+to+Transparent */
    background: -moz-linear-gradient(
        left,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
.pie-sector {
    cursor: pointer;
    stroke: #fff;
    stroke-width: 1;
}
.pie-sector:hover {
    /* opacity: 0.8; */
    stroke-width: 0;
}
.pie-legends {
    text-align: center;
}
.pie-legend {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
}
.pie-legend-symbol {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin: 4px;
    border-radius: 2px;
}
.pie-legend-text {
    display: inline-block;
    vertical-align: middle;
    color: #555;
}

#component-tab .pie{
    text-align: center;
    margin: 0;
    position: relative;
}
#component-tab .pie .heading{
    position: absolute;
    width: 100%;
    display: block;
    text-align: center;
    top: -10px;
    font-weight: 600;
}
#component-tab .pie-legends{
    display: block;
}
#component-tab .pie-legend{
    margin-top: 0;
    padding: 0 !important;
}